*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.clr{
    clear: both;
}
.full-wrapper{
    width: 100%;
}
.wrapper{
    width: 960px;
    margin: 0 auto;
}
/** common css ends **/

.header-top-bg{
    background: #0872b9;
}
.header-top{
    height: 32px;
    background: #0872b9;
}
.header-top .text{
    width: 720px;
    height: 32px;
    float: left;
}
.header-top .text p{
    color: #e7e7e7;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 32px;
}
.header-top .social{
    width: 240px;
    height: 32px;
    float: left;
}
.header-top .social ul{
    float: right;
}
.header-top .social ul li{
    display: inline-block;
}
.header-top .social ul li i{
    line-height: 32px;
    color: #e7e7e7;
    padding-left: 20px;
    transition: all linear 0.3S;
}
.header-top .social ul li i:hover{
    color: #353535;
}
/** header-top ends **/
 .navigation{
    height: 80px;
    display: flex;
 }
 .navigation .logo{
    width: 160px;
    height: 80px;
 }
 .navigation .logo a img{
    padding-top: 20px;
 }
 .navigation .manu{
    width: 800px;
    height: 80px;
 }
 .navigation .manu ul{
    float: right;
    display: flex;
 }
 .navigation .manu ul li a{
    color: #353535;
    line-height: 80px;
    padding: 0 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 600px;
    text-transform: capitalize;
    transition: all linear 0.3S;
 }
 .navigation .manu ul li a:hover{
    color: #0872b9;
 }
 .navigation .manu ul li a.active{
    color:  #0872b9;
 }
/** navigation ends **/

.banner-part{
    background-image: url(../image/banne-max.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.banner-part .overlay{
    background-color: rgba(0, 0, 0, 0.5);
}
.banner{
   height: 400px;
   text-align: right;
}
.banner h3{
    padding-top: 75px;
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
}
.banner h1{
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}
.banner p{
    padding-top: 10px;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #ffffff;
    line-height: 24px;
}
.banner ul{
    padding-top: 30px;
    display: flex;
    float: right;
}
.banner ul li a{
    border: 1px solid #0872b9;
    color: #ffffff;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
    background: #0872b9;
    line-height: 31px;
    display: inline-block;
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 20px;
    transition: all linear 0.4s;
}
.banner ul li a:hover{
    background: none;
    border: 1px solid #ffffff;
}
/** banner-part ends **/
.about-bg{
    background: #ffffff;
}
.about-class{
    height: 390px;
}
.about-class .about-up{
    height: 100px;
}
.about-up h3{
    color: #353535;
    font-size: 24px;
    font-weight: 400px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}
.about-up .image{
    padding-left: 430px;
    padding-bottom: 50px;
}
.about-class .about-dwon{
    height: 290px;
}
.about-dwon .one-side{
    width: 400px;
    height: 290px;
    float: left;
}
.about-dwon .one-side img{
    padding-top: 24px;
}
.about-dwon .two-side{
    width: 560px;
    height: 290px;
    float: left;
}
.about-dwon .two-side p{
    padding-top: 60px;
    font-size: 13px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    line-height: 24px;
    padding-left: 5px;
    color: #555555;
}
/** about-bg e3nds **/

.services-bg{
    background: #fff;
}
.services-class{
    height: 330px;
}
.services-class .services-up{
    height: 110px;
}
.services-up h3{
    color: #353535;
    font-size: 24px;
    font-weight: 400px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}
.services-up .image{
    padding-left: 410px;
    padding-bottom: 50px;
}
.services-class .services-dwon{
    height: 220px;
}
.services-dwon .left{
    width: 300px;
    height: 220px;
    float: left;
    margin-left: 10px;
    position: relative;
}
.left .circle{
    height: 81px;
    width: 81px;
    margin-left: 109.5px;
    position: absolute;
}
.left .left-circle-first{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #d4d4d4;
    position: absolute;
    margin: 3px 3px;
}
.left .left-circle-second{
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #f1f1f1;
    position: absolute;
    margin: 6px 6px;
}
.left-circle-second img{
    padding: 15px 18.5px;
}
.left .left-circle-third{
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: #fff;
    
}
.left .left-ractangle{
    height: 166px;
    width: 300px;
    background: #f1f1f1;
    margin-top: 40.5px;
}
.left .left-ractangle h4{
    color: #353535;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    padding-top: 51px;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
}
.left .left-ractangle p{
    color: #555555;
    font-size: 13px;
    font-weight: 400px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
/* left */

.services-dwon .meddil{
    width: 300px;
    height: 220px;
    float: left;
    margin-left: 20px;
}
.meddil .circle{
    height: 81px;
    width: 81px;
    margin-left: 109.5px;
    position: absolute;
}
.meddil .meddil-circle-first{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    margin: 3px 3px;
}
.meddil .meddil-circle-second{
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #5bc5f4;
    position: absolute;
    margin: 6px 6px;
}
.meddil .meddil-circle-second img{
    padding: 14px;

}
.meddil .meddil-circle-third{
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background: #5bc5f4;
    
}
.meddil .meddil-ractangle{
    height: 166px;
    width: 300px;
    background: #f1f1f1;
    margin-top: 40.5px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 20%);
}
.meddil .meddil-ractangle h4{
    color: #353535;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    padding-top: 51px;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
}
.meddil .meddil-ractangle p{
    color: #555555;
    font-size: 13px;
    font-weight: 400px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
/* meddil */

.services-dwon .right{
    width: 300px;
    height: 220px;
    float: left;
    margin-left: 20px;
}
.right .circle{
    height: 81px;
    width: 81px;
    margin-left: 109.5px;
    position: absolute;
}
.right .right-circle-first{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background: #d4d4d4;
    position: absolute;
    margin: 3px 3px;
}
.right .right-circle-second{
    width: 69px;
    height: 69px;
    border-radius: 50%;
    background-color: #f1f1f1;
    position: absolute;
    margin: 6px 6px;
}
.right .right-circle-second img{
    padding: 17px;
}
.right .right-circle-third{
    width: 81px;
    height: 81px;
    border-radius: 50%;
    background-color: #fff;
    
}
.right .right-ractangle{
    height: 166px;
    width: 300px;
    background: #f1f1f1;
    margin-top: 40.5px;
}
.right .right-ractangle h4{
    color: #353535;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    padding-top: 51px;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px;
}
.right .right-ractangle p{
    color: #555555;
    font-size: 13px;
    font-weight: 400px;
    line-height: 24px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}
/* right */
/** services-class ends **/
.protfolio-bg{
    background: #fff;
}
.protfolio-class{
    background: #fff;
    height: 662px;
}
.protfolio-class .protfolio-up{
    height: 110px;
}
.protfolio-up h3{
    color: #353535;
    font-size: 24px;
    font-weight: 400px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}
.protfolio-up .image{
    padding-left: 403px;
    padding-bottom: 50px;
}
.protfolio-class .protfolio-dwon{
    height: 552px;
    background: #fff;
}
.protfolio-dwon-first{
    width: 220px;
    height: 542px;
    float: left;
    margin-left: 10px;
}
.protfolio-dwon-first .image-one{
    width: 220px;
    height: 220px;
    position: relative;
    margin-bottom: 22px;
    overflow: hidden;
}
.image-one .soro-one{
    width: 100%;
    height: 100%;

}
.image-one .hover-part-one{
    width: 220px;
    height: 220px;
    background: rgba(0, 0, 0,60%);
    top: 0;
    left: -100%;
    position: absolute;
    transition: all linear 0.5s;
}
.aunder-hover-circle-one{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #5bc5f4;
    margin: 90px ;
}
.aunder-hover-circle-one:hover{
    background: #000;
}
.image-odvhot{
    padding: 11px 10px;
}
.image-one:hover .hover-part-one{
    left: 0;
}
.protfolio-dwon-first .image-five{
    width: 220px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.aunder-hover-circle-two{
    height: 40px;
    width: 40px;
    background: #5bc5f4;
    margin: 0 auto;
    border-radius: 50%;
    margin: 130px 90px;
}
.image-five .hover-part-two{
    width: 220px;
    height: 300px;
    background: rgba(0, 0, 0,60%);
    top: 0;
    left:-100%;
    position: absolute;
    transition: all linear 0.5s;
    
}
.image-five:hover .hover-part-two{
    left: 0;
}
/* protfolio-dwon-first ends */

.protfolio-dwon-second{   
    width: 220px;
    height: 542px;
    float: left;
    margin-left: 20px;
}
.protfolio-dwon-second .image-two{
    width: 220px;
    height: 300px;
    position: relative;
    margin-bottom: 22px;
    overflow: hidden;
}
.image-two .hover-part-three{
    width: 220px;
    height: 300px;
    background: rgba(0, 0, 0,60%);
    top: 0;
    left: -100%;
    position: absolute;
    transition: all linear 0.5s;
}
.image-two:hover .hover-part-three{
    left: 0;
}
.protfolio-dwon-second .image-six{
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;
}
.image-six .hover-part-four{
    width: 220px;
    height: 220px;
    background: rgba(0, 0, 0,60%);
    top: 0;
    left: -100%;
    position: absolute;
    transition: all linear 0.5s;
}
.image-six:hover .hover-part-four{
    left: 0;
}
/* protfolio-dwon-second ends*/

.protfolio-dwon-third{
    width: 220px;
    height: 542px;
    float: left;
    margin-left: 20px;
}
.protfolio-dwon-third .image-three{
    width: 220px;
    height: 220px;
    position: relative;
    margin-bottom: 22px;
    overflow: hidden;
}
.image-three .hover-part-five{
    width: 220px;
    height: 220px;
    background: rgba(0, 0, 0,60%);
    top: 0;
    left: -100%;
    position: absolute;
    transition: all linear 0.5s;
}
.image-three:hover .hover-part-five{
    left: 0;
}
.protfolio-dwon-third .image-seven{
    width: 220px;
    height: 300px;
    position: relative;
    overflow: hidden;
}
.image-seven .hover-part-six{
    width: 220px;
    height: 300px;
    background: rgba(0, 0, 0,60%);
    top: 0;
    left: -100%;
    position: absolute;
    transition: all linear 0.5s;
}
.image-seven:hover .hover-part-six{
    left: 0;
}
/* protfolio-dwon-third ends */
.protfolio-dwon-fourth{
    width: 220px;
    height: 542px;
    float: left;
    margin-left: 20px;
}
.protfolio-dwon-fourth .image-four{
    width: 220px;
    height: 300px;
    position: relative;
    margin-bottom: 22px;
    overflow: hidden;
}
.image-four .hover-part-seven{
    width: 220px;
    height: 300px;
    background: rgba(0, 0, 0,60%);
    top: 0;
    left: -100%;
    position: absolute;
    transition: all linear 0.5s;
}
.image-four:hover .hover-part-seven{
    left: 0;
}

.protfolio-dwon-fourth .image-eight{
    width: 220px;
    height: 220px;
    position: relative;
    overflow: hidden;
}
.image-eight .hover-part-eight{
    width: 220px;
    height: 220px;
    background: rgba(0, 0, 0,60%);
    top: 0;
    left: -100%;
    position: absolute;
    transition: all linear 0.5s;
}
.image-eight:hover .hover-part-eight{
    left: 0;
}
/* protfolio-dwon-fourth ends */

.our-team{
    height: 115px;
}
.our-team h3{
    color: #353535;
    font-size: 24px;
    font-weight: 400px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-top: 50px;
}
.our-team .image{
    padding-left: 430px;
    padding-bottom: 50px;
}
.member-bio{
    height: 330px;
}
.member-bio .bio-one{
    width: 220px;
    height: 330px;
    float: left;
    margin-left: 10px;
    position: relative;
    overflow: hidden;
}
.bio-one .member-one{
    position: absolute;
}
.bio-one .hover-bio-one{
    width: 80px;
    height: 270px;
    background: rgba(0, 0, 0,60%);
    position: absolute;
    top: 0;
    right: -80px;
    transition: all linear 0.5s;
}
.bio-one:hover .hover-bio-one{
    right: 0;
}
.hover-bio-one ul{
    margin-top: 35px;
}
.hover-bio-one ul li{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px #ffffff solid;
    margin-bottom: 15px;
    margin-left: 20px;
}
.hover-bio-one ul li:hover{
    background: #5bc5f4;
    border: none;
}
.hover-bio-one ul li a i{
    color: #ffffff;
    padding-top: 12px;
    padding-left: 15px;
}
.bio-one .member-one h3{
    color: #353535;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    line-height: 24px;
    padding-left: 72px;
}
/* bio-one ends */

.member-bio .bio-two{
    width: 220px;
    height: 330px;
    float: left;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}
.bio-two .member-two{
    position: absolute;
}
.bio-two .hover-bio-one{
    width: 80px;
    height: 270px;
    background: rgba(0, 0, 0,60%);
    position: absolute;
    top: 0;
    right: -80px;
    transition: all linear 0.5s;
}
.bio-two:hover .hover-bio-one{
    right: 0;
}
.bio-two .member-two h3{
    color: #353535;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    line-height: 24px;
    padding-left: 75px;
}
/* bio-two ends */

.member-bio .bio-three{
    width: 220px;
    height: 330px;
    float: left;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}
.bio-three .member-three{
    position: absolute;
}
.bio-three .hover-bio-one{
    width: 80px;
    height: 270px;
    background: rgba(0, 0, 0,60%);
    position: absolute;
    top: 0;
    right: -80px;
    transition: all linear 0.5s;
}
.bio-three:hover .hover-bio-one{
    right: 0;
}
.bio-three .member-three h3{
    color: #353535;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    line-height: 24px;
    padding-left: 74px;
}
/* bio-three ends */

.member-bio .bio-four{
    width: 220px;
    height: 330px;
    float: left;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
}
.bio-four .member-four{
    position: absolute;
}
.bio-four .hover-bio-one{
    width: 80px;
    height: 270px;
    background: rgba(0, 0, 0,60%);
    position: absolute;
    top: 0;
    right: -80px;
    transition: all linear 0.5s;
}
.bio-four:hover .hover-bio-one{
    right: 0;
}
.bio-four .member-four h3{
    color: #353535;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    line-height: 24px;
    padding-left: 69px;
}
/* bio-four ends */

.member-bio p{
    color: #353535;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    font-family: 'Oswald', sans-serif;
    padding-left: 75px;
}
/** member-bio ends **/
