
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.first-box{
    margin: 0;
    background: #83e3ef;
    height:1000px;
    font-family: 'Open Sans', sans-serif;
}
.left-site{
    float: left;
    width: 40%;
    margin-left: 2%;
    padding-left: 2%;
}

.icon{
    margin: 30px;
    width: 150px;
    height: 60px;
    color: rgb(4, 4, 240);
}
.welcome-to{
    font-size: 45px;
}
.email-div{
    border: 1px solid #000;
    width: 500px;
    height: 65px;
    transition: all linear 0.4s;
    border-radius: 5px;
}
.email-div:hover{
    background:  #e8f0ef;
}
input{
    width: 370px;
    height: 25px;
    margin-left: 30px;
    margin-top: 20px;
    border-style: none;
    border-radius: 10px;
}

.password-div{
    border: 1px solid #000;
    width: 500px;
    height: 65px;
    transition: all linear 0.4s;
    border-radius: 5px;
}
.password-div:hover{
    background: #e8f0ef;
}
.show-pass{
    margin-left: 30px;
    border-style: hidden;
    background: none;
    font-size: 18px;
    font-weight: 700;
    transition: all linear 0.5s;
    opacity: 1;
}
.show-pass:hover{
    color: #000;
    background: #bef9f1;
}

.right-site{
    float: left;
    width: 40%;
    margin-left: 7%;
    padding-left: 2%;
}
.picture{
    width: 650px;
    height: 800px;
    margin-left: 100px;
}

.right-site ul{
    list-style: none;
}
li{
    float: left;
    padding-right: 20px;
} 

ul li:nth-child(4){
    border-right: 2px solid #000;
    display: block;
}
.ffff{
    margin-left: 20px;
    font-size: 16px;
    font-weight: 600;
    border: #000 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    transition: all linear 0.5s;
    background:  aliceblue;
    color: #000;
    
}
ul li .ffff:hover{
    background: #1b0ffc;
    color: #ffff;
    opacity: 0.9;
    font-weight: bold;
}
.ttt{
    font-weight: 600;
    color: #1b0ffc;
    margin-top: 50px;
    margin-bottom: 20px;
}
.singin-button{
    color: #ffff;
    background: #5080f1;
    margin-bottom: 70px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-top: 15px;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 15px;
    border-radius: 20px;
    transition:  all linear 0.4s;
    border-style: none;
}
.singin-button:hover{
    background: rgb(3, 22, 236);
}
.google-button{
    background: #fff;
    margin-bottom: 10px;
    padding-left: 95px;
    padding-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #989898;
    border-radius: 20px;
    line-height: 30px;
    transition: all linear 0.4s;
}
.google-button:hover{
    border: 1px solid #6363fe;
    background: #d5d5f7f8;

}
.google-icon{
    width: 25px;
    height: 25px;

}
.with-goog{
    font-weight: 700;
    padding-left: 10px;
   
}

.join-button{
    background: #ffff;
    border: 1px solid #818080;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    padding-top: 15px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 15px;
    border-radius: 20px;
    transition: all linear 0.4s;
}
.join-button:hover{
    background: rgb(219, 220, 221);
}
/** first-box ends **/

.secound-box{
    height: 400px;
    background: #e1d8d8;
}
