*{
    margin: 0;
    border: 0;
}

.main-div{
    font-family: sans-serif;
    width: 100%;
    height: 1000px;
    background: #ffff;
}
.first{
    width: 100%;
    height: 51px;
    background: #000;
}
.border{
    display: block;
    border-left: 2px solid #3fc919;
    color:#ffffff;
    text-decoration: none;
    list-style: none;
    float: left;
    font-family: sans-serif;
    padding-top: 15px;
    padding-right: 20px;
   padding-left: 30px;
 }
.tota{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 14px;
    background: #fff;
    list-style: none;
    float: left;
   
}
/** first ends **/

.menubar{
    width: 100%;
    height: 80px;
    background: #ffffff;
}
.logo-set{
     height: 80px;
     width: 10%;
     display: flex;
     padding-left: 60px;
     font-size: 20px;
     float: left;
}
.first-image{
    width: 33px;
    height: 33px;
    padding-top: 23px;
}
.first-pera{
    padding-left: 7px;
    padding-top: 28px;
}
.domain{
    
    font-weight: 700;

}
.mid-site{
    width: 60%;
    padding-left: 25px;
    float: left;
    height: 80px;
}
.mid-site ul{
    margin-left: 30px;
}
.mid-site ul li{
    font-size: 14px;
    list-style: none;
    float: left;
    padding-left: 20px;
    line-height: 78px;
}
.mid-site ul:first-child li{
    
}

.login-site{
    width: 22%;
    float: left;
    height: 80px;
}
.login-site ul{
    margin-left: 10px;
}
.login-site ul li{
    list-style: none;
    float: left;
    padding-left: 40px;
    line-height: 75px;
}
.login-site ul li:first-child{
    padding-left: 0px;
}
.login-site ul li:nth-child(2){
    line-height: 85px;
}
/** manubar ends **/

.background-image{
    width: 100%;
    height: 500px;
    background-image: url(image/yyytreT.jpg);
}
.write-part{
    color: #fff;
    padding-left: 50px;
    margin: 0;
}
.one{
    width: 100%;
    height: 80px;
}
.para-one{
    font-weight: 700;
    padding-top: 60px;
    padding-left: 27px;
}
.two{
    width: 100%;
    height: 80px;
   
}
.hadding-one{
    font-weight: 800;
    font-size: 50px;
    padding-left: 27px;
}
.three{
    width: 100%;
    height: 50px;
   
}
.para-two{
    font-size: 25px;
    padding-left: 27px;
}
.four{
    width: 100%;
    height: 150px;
}
.under-line-one{
    font-size: 15px;
    font-weight: 600;
}
.five{
    width: 100%;
    height: 140px;
    padding-left: 27px;

}
.toto-tara{
    width:30%;
    height: 140px;
    float: left;
}
.angkor{
   text-decoration: none;
}
.another-para{
    font-weight: 700;
    font-size: 14px;
    color: #fff;
    background: #000;
    padding-top: 20px;
    padding-left: 60px;
    padding-bottom: 20px;
    padding-right: 40px;
    border-radius: 7px;
    transition: all linear 0.4s;
}
.another-para:hover {
    background: #252527;
}
.humi-acci{
    width:50%;
    height: 140px;
    float: left;
    padding-left: 70px;
    padding-top: 10px;
}
.para-three{
    padding-bottom: 5px;
}
.para-four{}

/** background-image ends **/

.learn{
    background: #ffff;
    width: 100%;
    height: 80px;
    margin: 0;
    padding: 0;
    border-bottom: 10px solid hsl(60, 26%, 96%);
}
.left{
    width: 60%;
    height: 80px;
    float: left;
}
.left ul{
    list-style: none;
}
.left ul li{
    font-size: 14px;
    font-weight: 600;
    float: left;
    padding-left: 50px;
    line-height: 60px;
}
.left ul li:hover{
    color: red;
    
}
.left ul li:first-child{
    padding-left: 40px;
}
.meddil{
    width: 26%;
    height: 80px;
    float: left;
   padding-top: 5px;
}
.five-para{
    font-weight: 600;
    width: 250px;
    font-size: 14px;
    padding: 15px 30px;
    border: #000 3px solid;
    border-radius: 5px;
    color: #000;
}
.five-para:hover{
    background-color: #000;
    color: #ffff;
}
.right{
    width: 10%;
    height: 80px;
    float: left;
    padding-top: 10px;
}
.six-para{
    padding-bottom: 5px;
}
/** learn ends **/

.rather-call{
    width: 100%;
    height: 389px;
    background: #ffff;
}
.free{
    width: 100%;
    height: 139px;
}
.hadding-loysi{
    font-family: sans-serif;
    font-size: 42px;
    padding-left: 37%;
    padding-top: 110px;
}
.request{
    width: 100%;
    height: 250px;
}
.class-one{
    width: 25%;
    height: 250px;
    float: left;
}
.image-one{
    float: left;
    width: 130px;
    height: 250px;
}
.kosto-one{
    padding-left: 60px;
    padding-top: 60px;
}
.intro{
    float: left;
    width: 180px;
    height: 250px;
}
.para-eight{
    padding-left: 30px;
    padding-top: 70px;
    font-size: 18px;
    font-weight: 700;
}
.para-nine{
    padding-left: 30px;
}
.class-two{
    width: 23%;
    height: 250px;
    float: left;
}
.image-two{
    float: left;
    width: 120px;
    height: 250px;
}
.kosto-two{
    padding-top: 60px;
    padding-left: 25px;
}
.design{
    float: left;
    width: 170px;
    height: 250px;
}
.para-ten{
    padding-top: 70px;
    font-size: 18px;
    font-weight: 700;
}
.class-three{
    width: 23%;
    height: 250px;
    float: left;
}
.image-three{
    float: left;
    width: 120px;
    height: 250px;

}
.kosto-three{
    padding-top: 60px;
    padding-left: 30px;
}
.live{
    float: left;
    width: 170px;
    height: 250px;
 
}
.para-twelve{
    padding-top: 70px;
    font-size: 18px;
    font-weight: 700;
}
.class-four{
    width: 27%;
    height: 250px;
    float: left;
}
.image-four{
    float: left;
    width: 130px;
    height: 250px;
}
.kosto-four{
    padding-left: 40px;
    padding-top: 60px;
}
.marketing{
    float: left;
    width: 160px;
    height: 250px;
}
.para-thirteen{
    padding-top: 70px;
    font-size: 18px;
    font-weight: 700;
}
/** rather-call ends **/

.ander-holl{
    width: 100%;
    height: 500px;
}
.left-holl{
    width: 50%;
    height: 500px;
    float: left;
}
.left-holl-image{
    width: 500px;
    height: 350px;
    padding-left: 80px;
    padding-top: 60px;
}
.right-holl{
    width: 50%;
    height: 500px;
    float: left;
}
.hadding-marsi{
    font-size: 38px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    padding-left: 40px;
    padding-right: 200px;
    padding-top: 60px;
}
.para-fifteen{
    padding-left: 40px;
    padding-right: 80px;
    font-size: 16px;
}
.jibonta-tecpata{
    width: auto;
    height: auto;
    padding-left: 40px;
    padding-top: 50px;
}